@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;700;900&display=swap");

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif
}

:root {
  --index: calc(1vw + 1vh);
}

body {
  color: #333;
  background-color: #fff;
  font-size: 16px;
  cursor: default;
  
  /* display: inline-block; */
  /* user-select: none; */
}

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/
